<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaft Demo</title>
</head>
<body>
<span th:text="${message}"></span>
<h3>Exam Results</h3>
<div th:if="${grade} >= 60">
    You passed the exam.
    <div th:switch="${GPA}">You are
        <span th:case="A">Excellent</span>
        <span th:case="B">Good</span>
        <span th:case="C">Okay</span>
        <span th:case="D">Need improvement</span>
    </div>
</div>
<div th:if="${grade} < 60">
    You failed the exam.
</div>

<h3>Thymeleaf Scope</h3>
Request: <span th:text="${#httpServletRequest.getAttribute('request')}"></span><br />
Session: <span th:text="${session.session}"></span><br />
Application: <span th:text="${application.application}"></span><br />

<h3>Thymeleaf URLs</h3>
<!-- Redirect Ddemo - without parameters -->
<a th:href="@{~/list}">Visit demo page</a>

<!-- Redirect with parameters -->
<a th:href="@{~/list(id=1, name=eic)}">Visit demo page with parameters</a>
</body>
</html>